# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*$py.class

# Compiled files
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# ========================
# Virtual Environment
# ========================
venv311/
venv/
env/
ENV/

# ========================
# Environment Variables
# ========================
.env
.env.*
*.env

# ========================
# Logs
# ========================
*.log

# ========================
# Database files
# ========================
*.sqlite3
*.db

# ========================
# VS Code
# ========================
.vscode/

# ========================
# OS files
# ========================
.DS_Store
Thumbs.db

# ========================
# Testing / coverage
# ========================
.coverage
htmlcov/
.pytest_cache/

# ========================
# Misc
# ========================
.idea/


frontend/node_modules/
whatsapp-bot/node_modules/